<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/navigation.ejs') %>
        <h1>Tasks list</h1>
        <ul>
            <% tasks.forEach(task => { %>
                <li>
                    <h3><%= task.title %></h3>
                    <!--
                        <p>ID: <%= task.id %></p>
                    -->
                    <p>Description: <%= task.description || 'No description provided' %></p>
                    <p>Finish date: <%= task.finishDate ? task.finishDate : 'No deadline set' %></p>
                    <p class="<%= task.done ? 'done' : 'undone' %>">Status: <%= task.done ? 'Completed' : 'Not completed' %></p>
                    <div class="task-actions">
                        <form action="/mark/<%= task.id %>" method="post">
                            <% if (task.done) { %>
                                <button type="submit">Unmark</button>
                            <% } else { %>
                                <button type="submit">Mark</button>
                            <% } %>
                        </form>
                        <form action="/edit-task/<%= task.id %>" method="get">
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/delete-task/<%= task.id %>" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </li>
            <% }); %>
        </ul>
        <div class="delete-all">    
            <form action="/delete-all" method="post" onsubmit="return confirm('Are you sure?');">
                <button type="submit" class="delete-all-button">DELETE ALL TASKS</button>
            </form>
        </div>
    </body>
</html>